<div class="row-fluid" xmlns="http://www.w3.org/1999/html">
<h1 class="page-header">
    List Users
</h1>

    <div ng-controller="UserListCtrl" ng-init="init()">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Birth Date</th>
                    <th>Children</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tmpUser in users">
                    <td>{{tmpUser.id}}</td>
                    <td>{{tmpUser.name}}</td>
                    <td>{{tmpUser.birthDate}}</td>
                    <td>{{tmpUser.children}}</td>
                    <td >
                        <a href="#/userEdit/{{tmpUser.id}}" class="btn btn-info btn-sm">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <a href="#/userCreate" class="btn btn-default">Add User</a>
</div>