<div class="row-fluid" xmlns="http://www.w3.org/1999/html">
    <h1 class="page-header">
        Edit User
    </h1>
    <div novalidate  ng-controller="UserEditCtrl" ng-init="init()">
        <div class="form-group">
            <label for="inputId">ID</label>
            <input class="form-control" id="inputId" placeholder="Enter ID" ng-model="user.id">

            <label for="inputName">User Name</label>
            <input class="form-control" id="inputName" placeholder="Enter Name" ng-model="user.name">

            <div class="row">
                <div class="col-md-3">
                    <label for="inputChildren">Children</label>
                    <input class="form-control" id="inputChildren" placeholder="Enter Number of Children" ng-model="user.children">
                    <p class="input-group">
                        <label for="inputBirthDate">Birth Date</label>
                        <input id="inputBirthDate" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="user.birthDate" is-open="opened" min="minDate" max="'2015-06-22'"
                               datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary" ng-click="saveUser(user)">Save</button>
    </div>
</div>
